<div class="jumbotron">
  <h1 class="display-2">Hello, world!</h1>
  <p class="lead">Accomplished software engineer with a background in user experience design and product management</p>
  <hr class="my-4">

  <h2 class="h1">Javascript & Development</h2>
  <span class="badge badge-secondary mt-1 mr-1">
    <h3 class="h5 mb-1">Angular 2+</h3>
    <span class="badge badge-primary mt-1 mr-1">NgRx</span>
    <span class="badge badge-primary mt-1 mr-1">Angular Material UI</span>
    <span class="badge badge-primary mt-1 mr-1">Bootstrap</span>
  </span>
  <span class="badge badge-secondary mt-1 mr-1">
    <h3 class="h5 mb-1">CSS​</h3>
    <span class="badge badge-primary mt-1 mr-1">Scss</span>
    <span class="badge badge-primary mt-1 mr-1">S​ass</span>
    <span class="badge badge-primary mt-1 mr-1">Less</span>
  </span>
  <span class="badge badge-secondary mt-1 mr-1">
    <h3 class="h5 mb-1">CI/CD</h3>
    <span class="badge badge-primary mt-1 mr-1">Azure</span>
    <span class="badge badge-primary mt-1 mr-1">GCC</span>
  </span>
  <span class="badge badge-secondary mt-1 mr-1 badgeless">
    <h3 class="h5 mb-1">RxJS</h3>
  </span>

  <h2 class="h1 mt-4">UX & Product Management</h2>
  <span class="badge badge-secondary mt-1 mr-1 badgeless">
    <h3 class="h5 mb-1">User Interviews</h3>
  </span>
  <span class="badge badge-secondary mt-1 mr-1 badgeless">
    <h3 class="h5 mb-1">Quick Prototyping</h3>
  </span>
  <span class="badge badge-secondary mt-1 mr-1 badgeless">
    <h3 class="h5 mb-1">User Testing</h3>
  </span>
  <span class="badge badge-secondary mt-1 mr-1 badgeless">
    <h3 class="h5 mb-1">Market Research</h3>
  </span>
  
  <p class="mt-5">
    <a class="btn btn-info btn-lg" routerLink="development" role="button">Engineering Work</a>
  </p>
</div>

<div class="row mb-3 mt-1">
  <div class="col-md-6 col-12">
    <div class="card mt-3 mt-md-0 border border-secondary">
      <div class="row no-gutters">
        <div class="col-4 p-3 bg-secondary rounded-left">
          <img src="/assets/icons/values.png" class="card-img" alt="">
        </div>
        <div class="col-8">
          <div class="card-body">
            <h5 class="card-title">Core Values</h5>
            <div class="card-text">
              <ul>
                <li>Compassion</li>
                <li>Cooperation</li>
                <li>Altruism</li>
                <li>Responsibility</li>
              </ul>      
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-12">
    <div class="card mt-3 mt-md-0 border border-secondary">
      <div class="row no-gutters">
        <div class="col-4 p-3 bg-secondary rounded-left">
          <img src="/assets/icons/motivation.png" class="card-img" alt="">
        </div>
        <div class="col-8">
          <div class="card-body">
            <h5 class="card-title">Key Motivators</h5>
            <div class="card-text">
              <ul>
                <li>Helping people reach their potential</li>
                <li>Making ideals into reality</li>
                <li>Working as a team</li>
                <li>Accomplishing meaningful goals</li>
              </ul>      
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<blockquote class="blockquote rounded-lg p-4 mt-5 mb-5">
  <h2 class="text-50">My Why</h2>
  <p class="mb-0">I’m a doer. I love the aspects, perspectives, and challenges of building things, and seeing them come to life. I have an infatuation with building incredible things.</p>
</blockquote>


<img src="/assets/results.png" class="float-right ml-5" alt="user testing results" />
<h3>From User Interviews to Glanceability Testing</h3>
<!-- <h4>from prototyping to debugging</h4> -->
<p>I have a track record of working closely with design teams to understand user needs, habits, and expectations. Working with my product teams to design technical solutions that work with business needs and timelines has given me a name for fostering cross-functional teamwork, and delivering award-winning outcomes.</p>
<h2>Experience</h2>
<p>My breadth of experience gives me insight into many aspects of our team. I am ready to cover team gaps while building a strong team and guide agile processes. Eliminating manual steps and driving standards-based automation like CI/CD allows teammates to bring forth real value in more meaningful ways.</p>
<p>My technical background feeds excellence in translating business requirements into technical product specs, and have experience building to those product specs. I have an intrinsic, honed ability to uncover and understand user problems and build solutions that drive real value.</p>
<img src="/assets/teamwork.png" class="float-left mr-5" alt="two people working together" />
<h2>Our Team</h2>
<p>I’ve spent time working with leadership teams to help pivot from a reactive, technical support approach to a proactive, user experience-based mindset.  I enjoy mentoring junior teammates to drive team focus towards quality by exploring tools, discussing architecture options, and encouraging involvement in communities. Things from local Slack communities like Denver Devs and Denver UX, conferences, and even participating in StackOverflow questions are great ways to get a wider knowledge base from which to grow skills, be it fundamentals or specific ideologies.</p>
