@import "../../../style/bootstrap/bootstrap";

header {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  width: 100%;

  .xs-device-menu.dropdown {
    padding-right: 10px;

    .dropdown-toggle {
      border: 1px solid #bdbdbd;
      padding: 0 9px 2px;
      font-size: 22px;
      &:after {
        display: none;
      }
    }
  }

  .navbar-nav .dropdown-menu {
    position: absolute;
  }

  @include media-breakpoint-up(lg) {
    position: fixed;
    top: 0;
    z-index: 2;
  }
  @include media-breakpoint-down(md) {
    .navbar {
      display: block;

      .navbar-nav {
        &:first-child {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;

          li {
            justify-self: flex-start;
            padding-right: 10px;

            &:last-child {
              padding-right: 0;
            }
          }

          :first-child {
            margin-right: auto;
          }
        }

        &:last-child {
          text-align: left;
          flex-direction: row;
          justify-content: center;

          a {
            padding-top: 0;
            padding-bottom: 0;

            &.btn-primary {
              padding-left: 10px;
              padding-right: 10px;
            }

            img {
              margin-right: 10px;
              height: 26px;
            }
          }
        }
      }
    }
  }
  @include media-breakpoint-up(sm) {
    .xs-device-menu {
      display: none;
    }
  }
  @include media-breakpoint-down(xs) {
    .navbar {
      .navbar-nav {
        &:first-child {
          justify-content: flex-start;

          li {
            display: none;
            &:first-child {
              display: block;
            }
          }
        }

        &:last-child {
          display: none;
        }
      }
    }
  }
}
