<h1>Engineering</h1>


<h2>Experience</h2>
<!-- <img class="float-right" src="/assets/tools.png"> -->
<p>
  I have an expert knowledge of usability and web development standards combined with a 
  passion for usability and design.
</p>
<hr />

<h3 class="mt-5">
  Code
  <ul class="pl-0">
    <li class="d-inline text-muted">
      <a href="https://github.com/KaraFox" target="_blank" class="small mr-4 d-inline-block">
        GitHub
      </a>
    </li>
  </ul>
</h3>
<p>I really like building Angular web apps. I've dabbled in React, Ionic, Vue, and obviously jQuery too.</p>
<p>I build clean, easy to use, interactive web applications. I incorporate interactions and animations that foster user understanding and task clarity. I want people to enjoy using what I build as much as I enjoy building it.</p>
<p>Most of all, I love to learn. This field doesn't stand still, and there are so many ways to work in it that one can try new frameworks, new versions, even new philosophies day in and day out and never find the end of your backlog.</p>
      
<!-- <h3 class="mt-5">
  Examples
  <ul class="pl-0">
    <li class="d-inline text-muted">
      <a href="https://www.mapquest.com/" target="_blank" class="small mr-4 d-inline-block">
        MapQuest
      </a>
    </li>
    <li class="d-inline border-left text-muted">
      <a href="https://jobs.eberls.com/" target="_blank" class="small mr-4 ml-4 d-inline-block">
        Eberl Jobs
      </a>
    </li>
  </ul>
</h3>
<p>I enable users by designing usable, human-centered web applications. My approach facilitates a collaborative environment, especially under tight deadlines and high pressure. I thrive in a work environment that requires creative problem solving skills, independent self-direction, and strong communication skills.</p> -->

<!-- <h2>Accomplishments</h2> -->
<!-- <ul>
  <li>
    I won a Webby for a parody microsite built during my time with MapQuest (Verizon
    Location Services).
  </li>
  <li>
    I have been a part of several major releases and application rewrites, including 
    MapQuest.com, Jobs.Eberls.com, Support.Quark.com, and CreativeSly.com.
  </li>
</ul> -->

<h3 class="mt-5">
  Skills
  <ul class="pl-0">
    <li class="d-inline text-muted">
      <span class="small mr-4 d-inline-block">
        Agile (CSPO/CSM)
      </span>
    </li>
    <li class="d-inline border-left text-muted">
      <span class="small mr-4 ml-4 d-inline-block">
        Communicative
      </span>
    </li>
  </ul>
</h3>
<p>I place a high value on communication and feedback. Technical debt, diagrams, and documenting details in wikis and readmes is a strength of my development process. I see code reviews and pull requests as an integral part of any team. Reviews set a stage for teaching junior engineers how to discuss decisions, get feedback on patterns, and ask questions. They can often be great discussion starters by fostering ideas for lunch and learn/brown bag sessions.</p>
<p>I'm known as a self-starter, able to work with little direction. I also have a very <a href="https://en.wikipedia.org/wiki/T-shaped_skills">t-shaped skillset</a>. Working with designers to perfect microinteraction and animations, building them out for proof of concept or as a communication device is a part of my job I enjoy the most. </p>
