<h1>Engineering</h1>
<h2><a href="https://github.com/KaraFox" target="_blank">GitHub</a></h2>
<p>
  I have an expert knowledge of usability and web development standards combined with a 
  passion for usability and design.
</p>
<p>
  I enable users by designing usable, human-centered web applications. My approach 
  facilitates a collaborative environment, even under tight deadlines and high pressure. 
  I thrive in a work environment that requires creative problem solving skills, independent 
  self-direction, and strong communication skills.
</p>

<!-- <h2>Accomplishments</h2> -->
<!-- <ul>
  <li>
    I won a Webby for a parody microsite built during my time with MapQuest (Verizon
    Location Services).
  </li>
  <li>
    I have been a part of several major releases and application rewrites, including 
    MapQuest.com, Jobs.Eberls.com, Support.Quark.com, and CreativeSly.com.
  </li>
</ul> -->

<h2>Skills</h2>
<p>
  I have a strongly <a href="https://en.wikipedia.org/wiki/T-shaped_skills">t-shaped skillset</a>.
  While focusing on development work, I can really get things done. Working with designers to perfect 
  microinteraction and animations, building them out for proof of concept or just as a communication tool
  is a part of my job I enjoy the most.
</p>
<p>
  My deep experience with accessibility principles has long driven my attitude towards semantic html. Using 
  appropriate elements not only makes it easier for screenreader users but also for robots (SEO).
  Something about how it also affords the user more standardized interface elements- things like inputs, buttons,
  links, headings, and even video players are quickly recognizable and don't force the user to learn before 
  being able to successfully interact with the app. I often liken html semantics to ramps on sidewalks, they 
  have grown helpful beyond their original purpose and afford all users a better, easier to use world.
</p>
<p>
  I place a high value on communication and feedback. Technical debt, diagrams, and documenting details in
  wikis and readmes is a big strength of my development process. I see code reviews as an integral part
  of any growing team. Reviews set a stage for teaching junior engineers how to discuss decisions, 
  get feedback patterns, and ask questions. They can often be great discussion starters by fostering ideas for
  lunch and learn/brown bag sessions. I'll always respect and encourage engineers who want to be better engineers, 
  and members of the development community.
</p>
<p>
  I'm known as a self-starter, able to work with little direction. 
</p>
