<h1>Product</h1>
<p>You are a success metric.</p>
<!-- Case Studies | Tools | User Experience -->

<h2>Case Studies</h2>
<p>Investigate, research, and learn. Then use what you’ve learned; apply it in new ways.</p>

<h3>Route End Feedback Loop</h3>
<p>Improvements to where and when we ask users for feedback and reviews brought our store rating up, and consequently
  also brought up the app ranking and usage stats.</p>
<h4>How and When to Ask</h4>
<p>We had a simple display asking users to review after the 4th successful route completion. Route completions were
  below 20%, so seeing this at all was very rare. This meant that most users who rated the app were rating because they
  had a terrible experience. Not only that, but there was no clear way for users to provide feedback to us in a
  constructive way.</p>
<h4>Learn &amp; Pivot</h4>
<p>We first added an option to provide feedback into an existing confirmation alert that is shown when a user exits
  navigation, allowing them to provide feedback, just exit nav, or cancel the action. The thinking here was to allow
  users to provide us feedback on a route that wasn’t working for them right at the moment that they are exiting
  navigation.</p>
<p>Due to the placement of this option, we saw a 10x spike in emails to our customer service team. Unfortunately, most
  were blank- indicating users were just clicking to get out of the navigation session rather than purposefully trying
  to provide feedback. We quickly removed this option to get users back on the right path there. This was obviously the
  wrong placement. Time to try again.</p>
<h4>Final Product</h4>
<p>A fellow engineer brought up the idea of providing the same review/feedback option that we do when the user
  successfully arrives. We had since started showing this option for every successful arrival, it makes perfect sense to
  stay consistent here and provide the same unobtrusive options at the end of navigation, whether the user has
  successfully arrived or not. We ended with a consistent experience that offers users the option of rating or providing
  feedback after any route.</p>
<h4>Measuring Success</h4>
<p>Success was measured by the amount of positive reviews as well as the amount of actionable feedback received by our
  customer experience team. The ratings skyrocketed from 5 1-star reviews and just 3 5-star reviews (a 2.8 average for
  the version) to 10 1-star reviews and 64 5-star reviews (a 4.3 average for the version) in 2 releases.</p>
<p>As a bonus, the app’s ranking in the store increased because of the higher rating, causing downloads and UV’s to
  follow suit and shoot through the roof. Our >4-star rating KPI had been achieved.</p>
<h4>Continued Iteration</h4>
<p>We continued to iterate on this feedback loop, as well other areas of the app!</p>

<!-- <h3>Leading Change</h3>
https://docs.google.com/document/d/1U2IJxNMhZ0ko4Rll2D059TiBr3V--QozqegNgMacZWY/edit -->

<h2>Tools</h2>
<p>The tools we use in product shifts with each new challenge. Here are some that I keep handy in my kit.</p>
<ul>
  <li>Consistent, clear, and honest communication
    <ul>
      <li>Stakeholders
        <ul>
          <li>Business needs</li>
          <li>Performance Indicators</li>
          <li>Research findings and related directional input</li>
          <li>Project Status</li>
          <li>A living report/document</li>
        </ul>
      </li>
      <li>My Teammembers
        <ul>
          <li>The Why is SO important.</li>
          <li>Decrease suprises, inform architectural decisions by setting future needs and expectations by staying</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    Market analysis tools, research, and findings matrices<br />
    https://docs.google.com/spreadsheets/d/1SJWmjSvWR36yX_DV3NqsfF_mkpYCUwPHR75ZS9OptDY/edit#gid=1079461865
  </li>
  <li>
    Approach to interviewing non-local users, on their time, by giving them think out loud questions and hearing their
    thought processes while they (optionally) interact with a current/live UI</li>
  <li>Interviewed users and stakeholders, turning feedback into insights and tangible business requirements</li>
  <li>
    Product Lifecycle Flowchart
    <!-- draw.io/?state=%7B"ids":%5B"0BxdiVg6_L3imSTJNVmFjZkJDX1E"%5D,"action":"open","userId":"{userId}"%7D#G0BxdiVg6_L3imSTJNVmFjZkJDX1E -->
  </li>
  <li>Founding- Fox Tale Adventures, Grocery Store thing</li>
  <li>Following thought leaders: There are some wildly exciting thought leaders in this space.</li>
  <li>Conducted market research and concept testing to determine the strength of product enhancements</li>
  <li>Monitored user feedback and usage data to optimize the product's key performance indicators</li>
  <li>Confirmed user adoption of features and enhancements through usage analytics</li>
  <li>Slice data in different ways to see it from different perspectives (do completions drop at a specific time or in a
    specific location) and how does this effect the users’ ability to complete a task (is a screen/notification too dark
    or does the zip code interface not allow for brazilian zip codes?)</li>
  <li>Why guess which approach is best when you can a/b test before deployment and verify your results with actual
    users?</li>
  <li>Follow through: Set expectations based on business needs and show data that verifies needs or expectations are
    met. What other gains do we have from the change?</li>
</ul>

<h2>User Experience</h2>
<ul>
  <li>Storyboards</li>
  <li>Set up wireframe and design A/B tests</li>
</ul>
